[flake8]
max-line-length = 80
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    setup.py,
    build,
    dist,
    releases,
    .flake8,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    .github,
    */migrations/*,
